@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body { 
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
}

#map {  
    width: 500px;
    height: 500px;
}

.flex-cont {
    display: flex;
    /*justify-content: space-between;*/
    margin: 0 auto;
    width:fit-content;
}

.history {
    width: 500px;
    height: 500px;
    background-color: rgb(194, 217, 224);
    overflow: scroll;
}

.history__info {
    padding: 0 50px 10px 50px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.history__datetime {
    color: #6d6be2;
}
.history__datetime:hover {
    cursor: pointer;
}

.history__metrics {
    padding: 0 25px;
}

.metrics__label {
    font-style: italic;
}

.metrics__wrapper {
    padding: 2px 0;
}

.id {
    padding: 0 50px;
}

.closed {
    display: none;
}

.data_closed::before {
    content: "\25bc";
    position: relative;
    left: -7px;
    display: inline-block;
    transform: rotate(-90deg);
}

.data_open::before {
    content: "\25bc";
    position: relative;
    left: -7px;
}

.upper-panel {
    padding:5px 10px;
    text-align: right;
}

.map__marker:hover {
    cursor: pointer;
}