* {
   box-sizing: border-box; 
   padding: 0;
   margin:0;
}
.flex-cont {
    margin:10px auto;
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.qr__cont {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    width: fit-content;
    margin: 10px auto;
}
.qrcode {
    width: fit-content;
    padding: 10px;
}
.print__button {
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 5px;
}
.gen__button {
    display: block;
    margin: 5px 0;
}
.invisible {
    display: none;
}
.qr__title {
    text-align: center;
    font-size: 20px;
}
.cont {
    border: 1px dashed grey;
    padding: 20px;
}