<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mounting device</title>
</head>
<body>
    <script src="{{ url_for('static', filename='js/mount.js') }}"></script>
    <button onclick="mount()">Mount</button>
</body>
</html>