<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="upper-panel">
        <a href="./gen_qr">Создать QR</a>
    </div>
    <div class="flex-cont">
        <div class="cont">
            <div id="map"></div>
            <label>
                Показать старые:
                <input type="checkbox" class="map__old">
            </label>
        </div>
        
        <div class="history">
            <h1 class="id"></h1>
            <template class="history__template">
                <h2 class="history__datetime data_open"></h2>
                <div class="history__metrics metrics">
                    <div class="metrics__wrapper">
                        <label class="metrics__label">Температура 1:</label>
                        <span class="metrics__data metrics__temp1"></span>&#8451;
                    </div>
                    <div class="metrics__wrapper">
                        <label class="metrics__label">Температура 2:</label>
                        <span class="metrics__data metrics__temp2"></span>&#8451;
                    </div>
                    <div class="metrics__wrapper">
                        <label class="metrics__label">Температура 3:</label>
                        <span class="metrics__data metrics__temp3"></span>&#8451;
                    </div>
                    <div class="metrics__wrapper">
                        <label class="metrics__label">Давление:</label>
                        <span class="metrics__data metrics__pressure"></span> Па
                    </div>
                    <div class="metrics__wrapper">
                        <label class="metrics__label">Влажность:</label>
                        <span class="metrics__data metrics__humidity"></span>%
                    </div>
                </div>
            </template>
        </div>
    </div>
   

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>