<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qr.css')}}">
    <title>Регистрация</title>
</head>
<body>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='js/qr.js')}}"></script>
    <div class="flex-cont">
        <label>
            <span>Введите код станции: </span>
            <input type="text" name="id">
        </label>
        <button class="gen__button" onclick="gen_QR()">Получить QR</button>
    </div>
    
    <div class="qr__cont invisible">
        <div class="cont">
            <h3 class="qr__title"></h3>
            <div class="qrcode"></div>
        </div>
        <div class="cont">
            <h3 class="qr__title"></h3>
            <div class="qrcode"></div>
        </div>
        <div class="cont">
            <h3 class="qr__title"></h3>
            <div class="qrcode"></div>
        </div>
        <div class="cont">
            <h3 class="qr__title"></h3>
            <div class="qrcode"></div>
        </div>
        <div class="cont">
            <h3 class="qr__title"></h3>
            <div class="qrcode"></div>
        </div>
        <div class="cont">
            <h3 class="qr__title"></h3>
            <div class="qrcode"></div>
        </div>
    </div>
    <button class="print__button invisible" onclick="print_QR()">Печать</button>
</body>
</html>